@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
    font-family: lato;
    max-width:1024px;
    margin:auto;
}


 


#logo {
    display:inline-block;
    width: 29.5%;

}

#logo img {
    display:inline-block;
    height: 250px;
    width: 500px;
    margin-top: 40px;
    margin-left:-125px;

}
#menu {
    font-size:25px;
    letter-spacing: 3px;
    list-style-type: none;
    display:inline-block;
    
}

nav {
    display: inline-table;
    vertical-align: top;
    width: 70%;
    text-align: right;
}
    
    

#menu li {
    display:inline;
    margin-right:30px;
    margin-top:30px;
    
    }

    a {
        color:rgba(196, 25, 25, 0.938);
        font-weight:bold;
        text-decoration:none;
    }

   #menu a:hover {
       border-bottom: 1px solid;
   }

   .active {
       border-bottom: 1px solid;
   }

   /*about our instructors*/
   

.instructors {
    list-style-type:none;
}


.instructor .instructor-description {
    vertical-align: top;
    width: 100%;
    text-align: center;
    display: inline-block;

}

.instructor img {
    margin-left: 350px;
    height:180px;
    width:250px;
    margin-bottom:15px;
}

.instructor {
    margin-bottom: 50px;
}




/* footer */

footer {
    height:150px;
}

.social-networks {
text-align:center;

}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size:160%;
    margin:1%;
    padding:5%;
    color: #777777;
}